* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

body{
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.head {
    background-color: aqua;
    padding: 10px;
    width: 100vw;
    height: auto;
}

.head h1{
    margin: 10px;
}

.head p{
    margin: 10px;
}

.raw-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:10px 10vw;
}

.raw-data h2{
    margin: 2px;
}

table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

table td,
table th {
    border: 1px solid #ddd;
    padding: 8px;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tr:hover {
    background-color: #ddd;
}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}

.create {
    border: 2px solid green;
    width: 80vw;
    margin: 10px;
    padding: 10px;
    height: auto;

}

.create button{
    height: auto;
    width: auto;
    padding: 10px;
    background-color: green;
    border-radius: 10px;
    color: #ddd;
}

.read {
    border: 2px solid gray;
    width: 80vw;
    margin: 10px;
    padding: 10px;
    height: auto;
}

.read button{
    height: auto;
    width: auto;
    padding: 10px;
    background-color: gray;
    border-radius: 10px;
}

.read table{
    width: auto;
}

.update {
    border: 2px solid blue;
    width: 80vw;
    margin: 10px;
    padding: 10px;
    height: auto;
}

.update button{
    height: auto;
    width: auto;
    padding: 10px;
    background-color: blue;
    border-radius: 10px;
    color: #ddd;
}

.delete {
    border: 2px solid red;
    width: 80vw;
    margin: 10px;
    padding: 10px;
    height: auto;
}

.delete button{
    height: auto;
    width: auto;
    padding: 10px;
    background-color: red;
    border-radius: 10px;
    color: #ddd;
}